
		*{
			padding: 0px;
			margin: 0px;


		}

		NAV{
		margin: 0;
	background-color: ;
}
header{
	background-color: white;
	padding: 0px;
	color: blue;
	text-align: center;
	font-family: sans-serif;
} 
nav{
	overflow: hidden;
	background-color: ;

}
nav a{
	float: left;
	color: whitesmoke;
	padding: 20px;
	text-decoration: none;
}
nav a:hover{
	background-color: black; 
	color: white;
}



	p{
		text-align: justify;
	}
	ul{
		width: 20%;
	}
	.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
 
